@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700;900&family=Nunito:wght@400;700;900&display=swap');

:root {
    --body-color: #F3F3F3;
    --title-font: 'Lexend Deca', sans-serif;
    --text-font: 'Nunito', sans-serif;
}

body {
    background-color: var(--body-color) !important;
    font-family: var(--text-font) !important;
}

.title-font {
    font-family: var(--title-font) !important;
}

.text-font {
    font-family: var(--text-font) !important;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.h-2 {
    height: 200px !important;
}

.layer-cover {
    height: 200px !important;
    margin-top: -200px !important;
    background-color: #1E1E1E;
    opacity: 50%;
}

.layer-cover:hover {
    opacity: 0% !important;
    transition-duration: 1s;
}